@model Voucher
@{
    ViewData["Title"] = "Edit Voucher";
}

<section id="data-table-form-v1" class="row">
    <div class="col-lg-12">
        <div class="block block--underline">
            <form class="ks-form container" asp-controller="Voucher" asp-action="Edit" method="post">
                @Html.AntiForgeryToken()
                <partial name="_Form"/>
            </form>
        </div>
    </div>
</section>

@section Modals {
    <partial name="_DeleteRowConfirmModals">
}

@section Scripts {
    <script>
        $(document).ready( function() {
            var contractTable = new RowAddAble({
                TargetTable: "#js-add-fee",
                TableTitle: 'Fee',
                ButtonTitle: 'Fee'
            });
            contractTable.RenderButton();
        });
    </script>
}