@model PrerequisiteFormViewModel
@{ 
    ViewData["Title"] = "Edit Prerequisite"; 
}

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <form class="ks-form container" asp-controller="Prerequisite" asp-action="Edit" method="POST">
                @Html.AntiForgeryToken()
                <partial name="_Form"/>
            </form>
        </div>
    </div>
</section>

@section Modals {
    <partial name="_DeleteRowConfirmModals">
}

@section Scripts {
    <script type="text/javascript" src="~/js/pages/prerequisite.js"></script>
}