@model CheatingStatus

<div id="details-cheating-status-modal" class="modal fadeIn animated js-details-modal" tabindex="-1" role="dialog"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="block block--underline mb-0">
                <div class="block__title">
                    <header>Cheating Status Details</header>
                </div>
                <div class="block__body">
                    <div id="modalWrapper-cheating-status-details">
                        <partial name="_Details.cshtml"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>