@model StudentTransferViewModel
@{ 
    ViewData["Title"] = "Graduation Verification";
}

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>@ViewData["Title"]</header>
            </div>

            <div class="block__body">
                <form class="form-horizontal" asp-controller="GraduationVerification" asp-action="Index" method="GET">
                    @Html.AntiForgeryToken()
                    <div class="row form-group mb-0">
                        <div class="col-6 align-self-center">
                            <input class="form-control" asp-for="StudentCode" type="text">
                            <label>Student Code</label>
                        </div>
                        <div class="col-6 text-nowrap align-self-end">
                            <button class="btn btn--primary btn-mw-120 m-r-5 mb-0" type="submit">
                                <i class="la la-search mr-2"></i>Search
                            </button>
                            <button class="btn btn-mw-120 btn--reset js-reset-btn mb-0" type="reset">
                                Reset
                            </button>
                        </div>
                    </div>
                </form>

                @if (Model.StudentCourseCategorizations != null)
                {
                    <hr>
                    <form class="form-horizontal" asp-controller="GraduationVerification" asp-action="CourseCategorization" method="POST">
                        <partial name="Curriculums/_CourseCategorization" model="@Model" />
                    </form>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript" src="~/js/pages/course-categorize.js"></script>
}