@model TransferUniversityViewModel
@{ 
    ViewData["Title"] = "Edit Transfer University"; 
}

<section id="data-table-form-v1" class="row">
    <div class="col-lg-12">
        <div class="block block--underline">
            <form class="ks-form container" asp-controller="TransferUniversity" asp-action="Edit" method="post">
                @Html.AntiForgeryToken()
                <partial name="_Form"/>
            </form>
        </div>
    </div>
</section>

@section Modals {
    <partial name="_DeleteRowConfirmModals">
}

@section Scripts {
    <script>
        var inputTable = new RowAddAble({
            TargetTable: '#js-add-transfer-course',
            ButtonTitle: 'External Course'
        })
        inputTable.RenderButton();

        $(document).on('click', '.js-add-row', function() {
            let newRow = $(`#js-add-transfer-course tbody tr:last`);
            newRow.find(".js-transfer-course-id").val(0)
        })
    </script>
}