@model TeachingType
@{ 
    ViewData["Title"] = "Edit Teaching Type"; 
}

<section id="data-table-form-v1" class="row">
    <div class="col-lg-12">
        <div class="block block--underline">
            <form class="ks-form container" asp-controller="TeachingType" asp-action="Edit" method="post">
                @Html.AntiForgeryToken()
                <partial name="_Form"/>
            </form>
        </div>
    </div>
</section>