@model SectionSlot

<div id="edit-section-slot-room" class="modal fadeIn animated" tabindex="-1" role="dialog"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="block__title">
				<header>Edit Section Slot</header>
			</div>
			<div class="block__body">
				<form class="js-section-slot-room-modal-create-content ks-form container" asp-controller="SectionSlotRoom" asp-action="EditSectionDetail" method="POST">
                    @Html.AntiForgeryToken()
                    <partial name="_FormModal" />
                </form>
			</div>
        </div>
    </div>
</div>