@model ChangingCurriculumPetition
@{
    var index = 1;
}

<div class="block block--underline mb-0">
    <div class="block__title">
		<header>Student Information</header>
	</div>

    <div class="block__body">
        <div class="row form-group mb-3">
            <div class="col-6">
                <div class="form-control-label d-flex align-items-center">Code</div>
                <div class="form-control-plaintext text-wrap">@Model?.Student?.Code</div>
            </div>
            <div class="col-6">
                <div class="form-control-label d-flex align-items-center">Name</div>
                <div class="form-control-plaintext text-wrap">@Model?.Student?.FullNameEn</div>
            </div>
        </div>

        <div class="row form-group mb-3">
            <div class="col-6">
                <div class="form-control-label d-flex align-items-center">Academic Level</div>
                <div class="form-control-plaintext text-wrap">@Model?.Term?.AcademicLevel?.NameEn</div>
            </div>
            <div class="col-6">
                <div class="form-control-label d-flex align-items-center">Term</div>
                <div class="form-control-plaintext text-wrap">@Model?.Term?.TermText</div>
            </div>
        </div>

        <div class="row form-group mb-3">
            <div class="col-6">
                <div class="form-control-label d-flex align-items-center">Division</div>
                <div class="form-control-plaintext text-wrap">@Model?.Student?.AcademicInformation?.Faculty?.NameEn</div>
            </div>
            <div class="col-6">
                <div class="form-control-label d-flex align-items-center">Major</div>
                <div class="form-control-plaintext text-wrap">@Model?.Student?.AcademicInformation?.Department?.NameEn</div>
            </div>
        </div>

        <div class="row form-group mb-3">
            <div class="col-6">
                <div class="form-control-label d-flex align-items-center">Current Curriculum Version</div>
                <div class="form-control-plaintext text-wrap">@Model?.CurrentCurriculumVersion?.NameEn</div>
            </div>
            <div class="col-6">
                <div class="form-control-label d-flex align-items-center">New Curriculum Version</div>
                <div class="form-control-plaintext text-wrap">@Model?.NewCurriculumVersion?.NameEn</div>
            </div>
        </div>

        @* <div class="row form-group mb-3">
            <div class="col-6">
                <div class="form-control-label d-flex align-items-center">Email</div>
                <div class="form-control-plaintext text-wrap">@Model?.Email</div>
            </div>
             <div class="col-6">
                <div class="form-control-label d-flex align-items-center">Phone Number</div>
                <div class="form-control-plaintext text-wrap">@Model?.TelephoneNumber</div>
            </div>
        </div> *@

        <div class="row form-group">
            <div class="col-4">
                <div class="form-control-label d-flex align-items-center">Student Status</div>
                <div class="form-control-plaintext text-wrap">@Model?.Student?.StudentStatusText</div>
            </div>
            <div class="col-4">
                <div class="form-control-label d-flex align-items-center">Channel</div>
                <div class="form-control-plaintext text-wrap">@Model?.ChannelText</div>
            </div>
            @* <div class="col-4">
                <div class="form-control-label d-flex align-items-center">Petition Status</div>
                <div class="form-control-plaintext text-wrap">@Model?.StatusText</div>
            </div> *@
        </div>

        <div class="row form-group">
             <div class="col-12">
                <div class="form-control-label d-flex align-items-center">Student Remark</div>
                <div class="form-control-plaintext text-wrap">@Model?.StudentRemark</div>
            </div>
        </div>

        <div class="row form-group">
             <div class="col-12">
                <div class="form-control-label d-flex align-items-center">Remark</div>
                <div class="form-control-plaintext text-wrap">@Model?.Remark</div>
            </div>
        </div>
    </div>
    
    @* @if (Model.Student != null)
    {
        <div class="form-group">
            <div class="block__title">
                <header>Student Exempted Exam Score</header>
            </div>

            <div class="block__body">
                <table class="table table-bordered m-0">
                    <thead>
                        <tr>
                            <th class="text-center w-50">#</th>
                            <th>Exampted Examination</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Student.StudentExemptedExamScores != null && Model.Student.StudentExemptedExamScores.Any())
                        {
                            foreach (var item in Model.Student.StudentExemptedExamScores) 
                            {
                                <tr>
                                    <td>@index</td>
                                    <td>@item.ExemptedAdmissionExamination.NameEn</td>
                                    <td>@item.Score</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3" class="text-center">
                                    <i class="text-danger">No Data</i>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    } *@

    <div class="block__action">
        <div class="block__action-row">
            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-mw-120 btn--cancel rounded">Close</a>
        </div>
    </div>
</div>