@model ChangeCurriculumPetitionViewModel
@{ 
    ViewData["Title"] = "Edit Petition"; 
}

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <form class="ks-form container" asp-controller="ChangeCurriculumPetitionManagement" asp-action="Edit" method="POST">
                @Html.AntiForgeryToken()
                <partial name="_Form"/>
            </form>
        </div>
    </div>
</section>