<div id="cancel-confirm-modal" class="modal fadeIn animated" tabindex="-1" role="dialog"
     aria-labelledby="deleteConfirmModalLabel" arial-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="cancel-confirm-form" class="block mb-0" asp-action="Cancel" method="POST">
                <div class="block__body">
                    <input name="id" type="hidden">
                    <h3 class="color-danger m-b-15">
                        Cancel Withdrawal
                    </h3>
                    <p>Are you sure to cancel this withdrawal?</p>
                </div>
                <div class="block__action">
                    <div class="block__action-row">
                        <a class="btn btn-mw-120 btn--danger rounded js-cancel-confirm-btn" href="#!">Yes</a>
                        <a class="btn btn-mw-120 btn--cancel rounded" href="javascript:void(0);" data-dismiss="modal">No</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>