@model CurriculumViewModel
@{ 
    ViewData["Title"] = "Edit Curriculum"; 
}

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <form class="ks-form container" asp-controller="Curriculum" asp-action="Edit" method="POST">
                @Html.AntiForgeryToken()
                <partial name="_Form">
            </form>
        </div>
    </div>
</section>