@{
    ViewData["Title"] = "UI Components";
}
<section id="section-button" class="row">
	<div class="col-md-6">
		<em class="text-caption">Main Buttons</em>
		<div class="block">
			<div class="block__body text-center height-3">
				<button type="button" class="btn btn-mw-120 btn--default rounded">Default</button>
				<button type="button" class="btn btn-mw-120 btn--primary rounded">Primary</button>
				<button type="button" class="btn btn-mw-120 btn--white rounded">White</button>
				<button type="button" class="btn btn-mw-120 btn--success rounded">Success</button>
				<button type="button" class="btn btn-mw-120 btn--info rounded">Info</button>
				<button type="button" class="btn btn-mw-120 btn--warning rounded">Warning</button>
				<button type="button" class="btn btn-mw-120 btn--danger rounded">Danger</button>
			</div>
			<!--end .block__body -->
		</div>
	</div>
	<div class="col-md-6">
		<em class="text-caption">Circle Icon Buttons</em>
		<div class="block">
			<div class="block__body text-center height-3">
				<button type="button" class="btn btn--default btn--circle">D</button>
				<button type="button" class="btn btn--primary btn--circle">P</button>
				<button type="button" class="btn btn--white btn--circle">W</button>
				<button type="button" class="btn btn--success btn--circle">S</button>
				<button type="button" class="btn btn--info btn--circle">I</button>
				<button type="button" class="btn btn--warning btn--circle">W</button>
				<button type="button" class="btn btn--danger btn--circle">D</button>

				<button type="button" class="btn btn--default btn--circle">
					<i class="la la-check"></i>
				</button>
				<button type="button" class="btn btn--primary btn--circle">
					<i class="la la-redo"></i>
				</button>
				<button type="button" class="btn btn--white btn--circle">
					<i class="la la-angle-down"></i>
				</button>
				<button type="button" class="btn btn--success btn--circle">
					<i class="la la-bookmark"></i>
				</button>
				<button type="button" class="btn btn--info btn--circle">
					<i class="la la-bell"></i>
				</button>
				<button type="button" class="btn btn--warning btn--circle">
					<i class="la la-times"></i>
				</button>
				<button type="button" class="btn btn--danger btn--circle">
					<i class="la la-heart"></i>
				</button>
			</div>
			<!--end .block__body -->
		</div>
	</div>
	<div class="col-md-6">
		<em class="text-caption">Icon with Text Buttons</em>
		<div class="block">
			<div class="block__body text-center height-3">
				<button type="button" class="btn btn-mw-120 btn--success rounded">
					<i class="la la-check mr-2"></i>
					<span class="bold">Submit</span>
				</button>
				<button type="button" class="btn btn-mw-120 btn--info rounded">
					<i class="la la-refresh mr-2"></i>
					<span class="bold">Refresh</span>
				</button>
				<button type="button" class="btn btn-mw-120 btn--warning rounded">
					<i class="la la-bookmark mr-2"></i>
					<span class="bold">Bookmark</span>
				</button>
				<button type="button" class="btn btn-mw-120 btn--danger rounded">
					<i class="la la-times mr-2"></i>
					<span class="bold">Close</span>
				</button>
			</div>
			<!--end .block__body -->
		</div>
	</div>
	<div class="col-md-6">
		<em class="text-caption">Block Buttons</em>
		<div class="block">
			<div class="block__body text-center height-3">
				<button type="button" class="btn btn-block btn--primary rounded">
					<i class="la la-link mr-2"></i>
					<span class="bold">Block rounded with icon button</span>
				</button>
			</div>
			<!--end .block__body -->
		</div>
	</div>
	<div class="col-md-6">
		<em class="text-caption">Dropdown Buttons</em>
		<div class="block">
			<div class="block__body text-center height-3">
				<button type="button" class="btn btn-mw-120 btn--default dropdown">
					<span class="bold">Actions
						<i class="la la-caret-down ml-2"></i>
					</span>
					<div class="dropdown-content">
						<a href="/">Action</a>
						<a href="/">Another Action</a>
						<a href="/">Some Action Here</a>
					</div>
				</button>
				<button type="button" class="btn btn-mw-120 btn--primary dropdown">
					<span class="bold">Actions
						<i class="la la-caret-down ml-2"></i>
					</span>
					<div class="dropdown-content">
						<a href="/">Action</a>
						<a href="/">Another Action</a>
						<a href="/">Some Action Here</a>
					</div>
				</button>
				<button type="button" class="btn btn-mw-120 btn--white dropdown">
					<span class="bold">Actions
						<i class="la la-caret-down ml-2"></i>
					</span>
					<div class="dropdown-content">
						<a href="/">Action</a>
						<a href="/">Another Action</a>
						<a href="/">Some Action Here</a>
					</div>
				</button>
				<button type="button" class="btn btn-mw-120 btn--success dropdown">
					<span class="bold">Actions
						<i class="la la-caret-down ml-2"></i>
					</span>
					<div class="dropdown-content">
						<a href="/">Action</a>
						<a href="/">Another Action</a>
						<a href="/">Some Action Here</a>
					</div>
				</button>
				<button type="button" class="btn btn-sm btn-mw-120 btn--info dropdown">
					<span class="bold">Actions
						<i class="la la-caret-down ml-2"></i>
					</span>
					<div class="dropdown-content">
						<a href="/">Action</a>
						<a href="/">Another Action</a>
						<a href="/">Some Action Here</a>
					</div>
				</button>
				<button type="button" class="btn btn-sm btn-mw-120 btn--warning dropdown">
					<span class="bold">Actions
						<i class="la la-caret-down ml-2"></i>
					</span>
					<div class="dropdown-content">
						<a href="/">Action</a>
						<a href="/">Another Action</a>
						<a href="/">Some Action Here</a>
					</div>
				</button>
				<button type="button" class="btn btn-sm btn-mw-120 btn--danger dropdown">
					<span class="bold">Actions
						<i class="la la-caret-down ml-2"></i>
					</span>
					<div class="dropdown-content">
						<a href="/">Action</a>
						<a href="/">Another Action</a>
						<a href="/">Some Action Here</a>
					</div>
				</button>
			</div>
			<!--end .block__body -->
		</div>
	</div>
</section>
<!--end section buttons -->

<section id="section-block" class="row">
	<div class="col-md-6">
		<em class="text-caption">Default Block</em>
		<div class="block">
			<div class="block__title">
				<header>Header</header>
			</div>
			<!--end .block-head -->
			<div class="block__body">
				<p>
					Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren. Fuisset delicatissimi duo, qui ut
					animal noluisse
					erroribus. Ea eum veniam audire. Dicant vituperata consequuntur.
				</p>
			</div>
			<!--end .card-body -->
		</div>
		<!--end .card -->
	</div>
	<div class="col-md-6">
		<em class="text-caption">Underlined Block</em>
		<div class="block block--underline">
			<div class="block__title">
				<header>Header Underlined</header>
			</div>
			<!--end .block-head -->
			<div class="block__body">
				<p>
					Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren. Fuisset delicatissimi duo, qui ut
					animal noluisse
					erroribus. Ea eum veniam audire. Dicant vituperata consequuntur.
				</p>
			</div>
			<!--end .block-body -->
		</div>
		<!--end .block -->
	</div>
	<div class="col-md-6">
		<em class="text-caption">Form submission</em>
		<div class="block block--underline">
			<div class="block__title">
				<header>Header</header>
			</div>
			<!--end .block-head -->
			<div class="block__body">
				<p>
					Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren. Fuisset delicatissimi duo, qui ut
					animal noluisse
					erroribus. Ea eum veniam audire. Dicant vituperata consequuntur.
				</p>
			</div>
			<!--end .block-body -->
			<div class="block__action">
				<div class="block__action-row">
					<a href="javascript:void(0);" class="btn btn-mw-120 btn--primary">Ok</a>
					<a href="javascript:void(0);" class="btn btn-mw-120 btn--cancel">Cancel</a>
				</div>
			</div>
		</div>
		<!--end .block -->
	</div>
	<div class="col-md-6">
		<em class="text-caption">Delete Confirmation</em>
		<div class="block">
			<div class="block__body">
				<h3 class="color-danger m-b-15">
					<i class="la la-trash m-r-5"></i>
					Delete
          		</h3>
				<p>
					Are you sure?
				</p>
			</div>
			<!--end .block-body -->
			<div class="block__action">
				<div class="block__action-row">
					<a href="javascript:void(0);" class="btn btn-mw-120 btn--danger">Yes</a>
					<a href="javascript:void(0);" class="btn btn-mw-120 btn--cancel">No</a>
				</div>
			</div>
		</div>
		<!--end .block -->
	</div>
	<div class="col-md-6">
		<em class="text-caption">Collapse</em>
		<div class="panel-group" id="accordion1">
			<div class="block block--underline">
				<div class="block__title collapsed" data-toggle="collapse" data-parent="#accordion1" data-target="#accordion1-1">
					<header>Header</header>
					<div class="tools">
						<div class="btn-group">
							<a class="btn btn--white btn--circle">
								<i class="la la-angle-down"></i>
							</a>
						</div>
					</div>
				</div>
				<!--end .block-head -->
				<div id="accordion1-1" class="collapse show" aria-expanded="true">
					<div class="block__body">
						<p>
							Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren. Fuisset delicatissimi duo, qui ut
							animal noluisse
							erroribus. Ea eum veniam audire. Dicant vituperata consequuntur.
						</p>
					</div>
					<!--end .block-body -->
				</div>
			</div>
			<!--end .block -->
		</div>
	</div>
</section>
<!--end section block -->

<section id="section-table" class="row">
	<div class="col-md-12">
		<em class="text-caption">Basic Table with Actions</em>
		<div class="block block--underline">
			<div class="block__title">
				<header>Basic Table with Actions</header>
			</div>
			<!--end .block-head -->
			<div class="block__body table-responsive">
				<table class="table table-bordered m-0">
					<thead>
						<tr>
							<th class="text-nowrap text-center">#</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Username</th>
                            <th>Status</th>
                            <th class="text-nowrap text-center">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="text-nowrap text-center">1</td>
							<td>Mark</td>
							<td>Otto</td>
							<td>MarkO.</td>
                            <td>
                                <span class="ks-label bg-info">Info</span>
                            </td>
                            <td class="text-nowrap text-center td-actions">
                                <a href="#">
						            <i class="la la-edit edit"></i>
					            </a>
					            <a href="#" data-toggle="modal" data-target="#delete-confirm-modal"> 
						            <i class="la la-trash delete"></i>
					            </a>
					            <a href="#">
						            <i class="la la-info info"></i>
					            </a>
                            </td>
						</tr>
						<tr>
							<td class="text-nowrap text-center">2</td>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>JacobT</td>
                            <td>
                                <span class="ks-label bg-success">Success</span>
                            </td>
                            <td class="text-nowrap text-center td-actions">
                                <a href="#">
						            <i class="la la-edit edit"></i>
					            </a>
					            <a href="#" data-toggle="modal" data-target="#delete-confirm-modal"> 
						            <i class="la la-trash delete"></i>
					            </a>
					            <a href="#">
						            <i class="la la-info info"></i>
					            </a>
                            </td>
						</tr>
						<tr>
							<td class="text-nowrap text-center">3</td>
							<td>Larry</td>
							<td>the Bird</td>
							<td>LarryTb</td>
                            <td>
                                <span class="ks-label bg-warning">Warning</span>
                            </td>
                            <td class="text-nowrap text-center td-actions">
                                <a href="#">
						            <i class="la la-edit edit"></i>
					            </a>
					            <a href="#" data-toggle="modal" data-target="#delete-confirm-modal"> 
						            <i class="la la-trash delete"></i>
					            </a>
					            <a href="#">
						            <i class="la la-info info"></i>
					            </a>
                            </td>
						</tr>
                        <tr>
							<td class="text-nowrap text-center">4</td>
							<td>John</td>
							<td>Mayor</td>
							<td>J.Mayor</td>
                            <td>
                                <span class="ks-label bg-danger">Danger</span>
                            </td>
                            <td class="text-nowrap text-center td-actions">
                                <a href="#">
						            <i class="la la-edit edit"></i>
					            </a>
					            <a href="#" data-toggle="modal" data-target="#delete-confirm-modal"> 
						            <i class="la la-trash delete"></i>
					            </a>
					            <a href="#">
						            <i class="la la-info info"></i>
					            </a>
                            </td>
						</tr>
					</tbody>
				</table>
			</div>
			<!--end .block-body -->
		</div>
		<!--end .block -->
	</div>

	<div class="col-md-12">
		<em class="text-caption">Data Table with Actions</em>
		<div class="block block--underline">
			<div class="block__title">
				<header>Data Table with Actions</header>
			</div>
			<!--end .block-head -->
			<div class="block__body table-responsive">
				<table class="table table-bordered m-0 js-data-table">
					<thead>
						<tr>
							<th class="text-nowrap text-center">#</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Username</th>
                            <th>Status</th>
                            <th class="text-nowrap text-center">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="text-nowrap text-center">1</td>
							<td>Mark</td>
							<td>Otto</td>
							<td>MarkO.</td>
                            <td>
                                <span class="ks-label bg-info">Info</span>
                            </td>
                            <td class="text-nowrap text-center td-actions">
                                <a href="#">
						            <i class="la la-edit edit"></i>
					            </a>
					            <a href="#" data-toggle="modal" data-target="#delete-confirm-modal"> 
						            <i class="la la-trash delete"></i>
					            </a>
					            <a href="#">
						            <i class="la la-info info"></i>
					            </a>
                            </td>
						</tr>
						<tr>
							<td class="text-nowrap text-center">2</td>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>JacobT</td>
                            <td>
                                <span class="ks-label bg-success">Success</span>
                            </td>
                            <td class="text-nowrap text-center td-actions">
                                <a href="#">
						            <i class="la la-edit edit"></i>
					            </a>
					            <a href="#" data-toggle="modal" data-target="#delete-confirm-modal"> 
						            <i class="la la-trash delete"></i>
					            </a>
					            <a href="#">
						            <i class="la la-info info"></i>
					            </a>
                            </td>
						</tr>
						<tr>
							<td class="text-nowrap text-center">3</td>
							<td>Larry</td>
							<td>the Bird</td>
							<td>LarryTb</td>
                            <td>
                                <span class="ks-label bg-warning">Warning</span>
                            </td>
                            <td class="text-nowrap text-center td-actions">
                                <a href="#">
						            <i class="la la-edit edit"></i>
					            </a>
					            <a href="#" data-toggle="modal" data-target="#delete-confirm-modal"> 
						            <i class="la la-trash delete"></i>
					            </a>
					            <a href="#">
						            <i class="la la-info info"></i>
					            </a>
                            </td>
						</tr>
                        <tr>
							<td class="text-nowrap text-center">4</td>
							<td>John</td>
							<td>Mayor</td>
							<td>J.Mayor</td>
                            <td>
                                <span class="ks-label bg-danger">Danger</span>
                            </td>
                            <td class="text-nowrap text-center td-actions">
                                <a href="#">
						            <i class="la la-edit edit"></i>
					            </a>
					            <a href="#" data-toggle="modal" data-target="#delete-confirm-modal"> 
						            <i class="la la-trash delete"></i>
					            </a>
					            <a href="#">
						            <i class="la la-info info"></i>
					            </a>
                            </td>
						</tr>
					</tbody>
				</table>
			</div>
			<!--end .block-body -->
		</div>
		<!--end .block -->
	</div>
</section>
<!--end section table -->

<section id="section-detail" class="row">
	<div class="col-md-12">
		<div class="panel-group" id="accordion2">
			<div class="block">
				<div class="block__title collapsed" data-toggle="collapse" data-parent="#accordion2" data-target="#accordion1-2">
					<header>General Informations</header>
					<div class="tools">
						<div class="btn-group">
							<a class="btn btn--white btn--circle">
								<i class="la la-angle-down"></i>
							</a>
						</div>
					</div>
				</div>
				<!--end .block-head -->
				<div id="accordion1-2" class="collapse show" aria-expanded="true">
					<div class="block__body">
						<div class="row">
							<div class="form-group mb-3 col-xl-2">
								<div class="form-control-label d-flex align-items-center">Code</div>
								<div class="form-control-plaintext">567890</div>
                        	</div>
							<div class="form-group mb-3 col-xl-3">
								<div class="form-control-label d-flex align-items-center">Fullname</div>
								<div class="form-control-plaintext">Mr. John Smitch</div>
                        	</div>
							<div class="form-group mb-3 col-xl-3">
								<div class="form-control-label d-flex align-items-center">ชื่อ-นามสกุล</div>
								<div class="form-control-plaintext">นาย จอน์น สมิช</div>
                        	</div>
						</div>

						<div class="row">
							<div class="form-group mb-3 col-xl-2">
								<div class="form-control-label d-flex align-items-center">Gender</div>
								<div class="form-control-plaintext">Male</div>
                        	</div>
							<div class="form-group mb-3 col-xl-3">
								<div class="form-control-label d-flex align-items-center">Nationality</div>
								<div class="form-control-plaintext">Thai</div>
                        	</div>
							<div class="form-group mb-3 col-xl-3">
								<div class="form-control-label d-flex align-items-center">Race</div>
								<div class="form-control-plaintext">Thai</div>
                        	</div>
							<div class="form-group mb-3 col-xl-3">
								<div class="form-control-label d-flex align-items-center">Religion</div>
								<div class="form-control-plaintext">Buddism</div>
                        	</div>
						</div>
					</div>
					<!--end .block-body -->
				</div>
			</div>
			<!--end .block -->
		</div>
	</div>

	<div class="col-md-12">
		<div class="panel-group" id="accordion3">
			<div class="block">
				<div class="block__title collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion1-3">
					<header>Contact Informations</header>
					<div class="tools">
						<div class="btn-group">
							<a class="btn btn--white btn--circle">
								<i class="la la-angle-down"></i>
							</a>
						</div>
					</div>
				</div>
				<!--end .block-head -->
				<div id="accordion1-3" class="collapse show" aria-expanded="true">
					<div class="block__body">
						<div class="row">
							<div class="form-group mb-3 col-xl-3">
								<div class="form-control-label d-flex align-items-center">Phone number</div>
								<div class="form-control-plaintext">
									<i class="la la-phone mr-2"></i> 02-1234567
								</div>
                        	</div>

							<div class="form-group mb-3 col-xl-3">
								<div class="form-control-label d-flex align-items-center">Mobile number</div>
								<div class="form-control-plaintext">
									<i class="la la-mobile mr-2"></i> 082-1234567
								</div>
                        	</div>

							<div class="form-group mb-3 col-xl-3">
								<div class="form-control-label d-flex align-items-center">Email address</div>
								<div class="form-control-plaintext">
									<i class="la la-envelope mr-2"></i> awesome@email.com
								</div>
                        	</div>
						</div>
					</div>
					<!--end .block-body -->
				</div>
			</div>
			<!--end .block -->
		</div>
	</div>
</section>