@{
  ViewData["Title"] = "Tabs";
}

<section class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs ks-tabs" id="my-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="navs-home-tab" data-toggle="pill" href="#navs-home" role="tab" aria-controls="navs-home"
          aria-selected="true">Forms & Inputs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="nav-profile-tab" data-toggle="pill" href="#navs-profile" role="tab" aria-controls="navs-profile"
          aria-selected="false">Tables</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="nav-contact-tab" data-toggle="pill" href="#navs-contact" role="tab" aria-controls="navs-contact"
          aria-selected="false">Basic Components</a>
      </li>
    </ul>

    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="navs-home" role="tabpanel" aria-labelledby="navs-home-tab">
        <partial name="./Forms.cshtml"/>
      </div>
      <div class="tab-pane fade" id="navs-profile" role="tabpanel" aria-labelledby="navs-profile-tab">
        <partial name="./Tables.cshtml"/>
      </div>
      <div class="tab-pane fade" id="navs-contact" role="tabpanel" aria-labelledby="navs-contact-tab">
        <partial name="./Index.cshtml"/>
      </div>
    </div>
  </div>
</section>