<div class="modal fadeIn animated" id="js-grade-editor-modal" tabindex="-1" role="dialog"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-dialog-centered modal-xl">
		<div class="modal-content">
			@Html.AntiForgeryToken()
			<div id="modalWrapper-grade-editor"></div>
		</div>
	</div>
</div>