@model CourseGroupCondition

<div class="block__title">
    <header>@ViewData["Title"]</header>
</div>

<div class="block__body">
    <div class="row form-group">
        <div class="col-12">
            <select class="chosen-select form-control js-cascade-academic-level" asp-for="AcademicLevelId" asp-items="ViewBag.AcademicLevels">
                <option selected disabled>Select</option>
            </select>
            <label>Academic Level<span class="text-danger">*</span></label>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-12">
            <select class="chosen-select form-control js-cascade-curriculum" asp-for="CurriculumId" asp-items="ViewBag.Curriculums">
                <option selected disabled>Select</option>
            </select>
            <label>Curriculum<span class="text-danger">*</span></label>
        </div>
    </div>
    
    <div class="row form-group">
        <div class="col-12">
            <select class="chosen-select form-control js-cascade-curriculum-version" asp-for="CurriculumVersionId" asp-items="ViewBag.CurriculumVersions">
                <option selected disabled>Select</option>
            </select>
            <label>Curriculum Version<span class="text-danger">*</span></label>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-12">
            <select class="chosen-select form-control js-cascade-course-group" asp-for="CourseGroupId" asp-items="ViewBag.CourseGroups">
                <option selected disabled>Select</option>
            </select>
            <label>Course Group<span class="text-danger">*</span></label>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-12">
            <input class="form-control js-default-zero js-click-highlight" asp-for="Credit" type="text">
            <label for="Credit">Credit<span class="text-danger">*</span></label>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-12">
            <input class="form-control js-single-date" asp-for="ExpiredAt" type="text" autocomplete="off">
            <label>Expired Date</label>
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="col-12 form-check">
            <input class="form-check-input" asp-for="IsActive" type="checkbox">
            <label for="IsActive">Active</label>
        </div>
    </div>
</div>

<input name="returnUrl" type="hidden" value="@ViewBag.ReturnUrl">

<div class="block__action container">
    <div class="block__action-row">
        <button class="btn btn-mw-120 btn--primary" type="submit">Save</button>
        <a class="btn btn-mw-120 btn--cancel" href="@ViewBag.ReturnUrl">Cancel</a>
    </div>
</div>