@model PetitionLog

<div class="block block--underline mb-0">
    <div class="block__title">
		<header>Add Petition Log</header>
	</div>

    <div class="block__body">
        <form asp-controller="PetitionManagement" asp-action="AddLogs" method="POST">
            <div class="row form-group">
                <div class="col-12">
                    <input class="form-control" asp-for="Comment" type="text">
                    <label>Comment</label>
                </div>
            </div>

            <input asp-for="StudentPetitionId" hidden>

            <div class="block__action">
                <div class="block__action-row">
                    <button class="btn btn-mw-120 btn--primary" type="submit">Save</button>
                    <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-mw-120 btn--cancel rounded">Close</a>
                </div>
            </div>
        </form>
    </div>
</div>