@model SpecializationGroup

<div class="block__title">
    <header>@ViewData["Title"]</header>
</div>

<div class="block__body">
    <div class="form-group">
        <input class="form-control" asp-for="Code" type="text">
        <label>Code<span class="text-danger">*</span></label>
        <span class="text-danger help-block" asp-validation-for="Code"></span>
    </div>

    <div class="form-group">
        <input class="form-control" asp-for="NameEn" type="text">
        <label>English Name<span class="text-danger">*</span></label>
        <span class="text-danger help-block" asp-validation-for="NameEn"></span>
    </div>
    
    <div class="form-group">
        <input class="form-control" asp-for="NameTh" type="text">
        <label>Thai Name<span class="text-danger">*</span></label>
        <span class="text-danger help-block" asp-validation-for="NameTh"></span>
    </div>

    <div class="form-group">
        <input class="form-control" asp-for="ShortNameEn" type="text">
        <label>English Short Name</label>
    </div>

    <div class="form-group">
        <input class="form-control" asp-for="ShortNameTh" type="text">
        <label>Thai Short Name</label>
    </div>
    
    <div class="row">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="IsActive">
            <label for="IsActive">Active</label>
        </div>
    </div>
</div>

<div class="block__action container">
    <div class="block__action-row">
        <button class="btn btn-mw-120 btn--primary" type="submit">Save</button>
        <a class="btn btn-mw-120 btn--cancel" asp-action="Index">Cancel</a>
    </div>
</div>