@model SpecializationGroup
@{
    ViewData["Title"] = "Add Minor";
 }

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <form class="ks-form container" asp-controller="Minor" asp-action="Create" method="POST">
                @Html.AntiForgeryToken()
                <partial name="_Form"/>
            </form>
        </div>
    </div>
</section>