@model IdentityRole

<div class="block__title text-left height-3">
    <header>@ViewData["Title"]</header>
</div>

<div class="block__body text-left height-3">
    <div class="form-group">
        <input asp-for="Name" type="text" class="form-control">
        <label>Name<span class="text-danger">*</span></label>
        <span class="text-danger help-block" asp-validation-for="Name"></span>
    </div>
</div>

<div class="block__action container">
    <div class="block__action-row">
        <button type="submit" class="btn btn-mw-120 btn--primary">Save</button>
        <a asp-action="Index" class="btn btn-mw-120 btn--link">Cancel</a>
    </div>
</div>