@model Section

<div id="course-offered-main-instructor" class="modal fadeIn animated" tabindex="-1" role="dialog"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div id="modalWrapper-course-offered-main-instructor">
                @Html.AntiForgeryToken()
            </div> 
        </div>
    </div>
</div>