@model ResidentType
@{ 
    ViewData["Title"] = "Edit Resident Type"; 
}

<section class="row">
    <div class="col-lg-12">
        <div class="block block--underline">
            <form class="ks-form container" asp-controller="ResidentType" asp-action="Edit" method="post">
                @Html.AntiForgeryToken()
                <partial name="_Form"/>
            </form>
        </div>
    </div>
</section>