<div class="modal fadeIn animated js-modal-form" id="js-unsaved-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="block mb-0">
        <div class="block__body">
          <h3 class="color-danger m-b-15">
            <i class="la la-warning m-r-5"></i>
            Do you want to save the changes you made or Leave and discard your changes.
            <strong id="js-changed"></strong>
          </h3>
        </div>
        <!--end .block__body -->
        <div class="block__action">
          <div class="block__action-row">
              <button type="button" class="btn btn-mw-120 btn--reset rounded js-save-tab">Save</button>
              <button type="button" class="btn btn-mw-120 btn--cancel rounded js-unsave-tab">Discard</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>