@model string

@if (Model == "a")
{
    <span class="text-success">Accepted</span>
}
else if (Model == "p")
{
   <span class="text-success">Checking in progress</span>
}
else if (Model == "c")
{
   <span class="text-success">Completed</span>
}
else if (Model == "r")
{
   <span class="text-danger">Rejected</span>
}
else if (Model == "w")
{
   <span class="text-muted">Submitted</span>
}
else if (Model == "t")
{
   <span class="text-danger">Returned</span>
}
else
{
   <span></span>
}