@model GradeTemplateViewModel

@{
    ViewData["Title"] = "Edit Grade Template";
}

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <form class="ks-form container" asp-controller="GradeTemplate" asp-action="Edit" method="post">
                @Html.AntiForgeryToken()
                <div class="block__title">
                    <header class="color-primary">@ViewData["Title"]</header>
                </div>
                <div class="block__body">
                    <partial name="_Form" model="Model"/>
                </div>
            </form>
        </div>
    </div>
</section>

@section Modals {
    <partial name="_DeleteRowConfirmModals" />
}

@section Scripts {
    <script type="text/javascript" src="~/js/pages/grade-template.js"></script>
}