@model Student

<section class="ks-other-status-info">
    <div class="block block--underline">
		<div class="block__title">
			<header>Status Transaction</header>
		</div>

        <div class="block__body table-responsive">
			<table class="table table-bordered m-0">
                <thead>
					<tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Type</th>
                        <th>Reason</th>
                        <th class="text-center">Effective Date</th>
                    </tr>
				</thead>
                <tbody>
                </tbody>
			</table>
        </div>
    </div>
</section>