<div class="block block--underline">
    <div class="block__title">
        <header>Registration</header>
    </div>

    <div class="block__body">
        <div class="table-responsive">
            <table class="table table-bordered m-0">
                <thead>
                    <tr>
                        <th class="text-nowrap text-center">#</th>
                        <th class="text-nowrap text-center">Term</th>
                        <th class="text-nowrap text-center">Year</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-nowrap text-center">1</td>
                        <td class="text-nowrap text-center">3</td>
                        <td class="text-nowrap text-center">2016</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>