<section class="row">
    <div class="col-md-12">
        <div class="block block--underline no-shadow">
            <div class="block__title">
                <header>
                    <h4>Transfer Information</h4>
                </header>
            </div>
            <div class="block__body">
                <div class="table-responsive">
                    <table class="table table-bordered m-0">
                        <thead>
                            <tr>
                                <th>Seq.</th>
                                <th>Transferred From</th>
                                <th>Transferred To</th>
                                <th>Ref Year</th>
                                <th>Ref</th>
                                <th>Term</th>
                                <th>University</th>
                                <th>Country</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>2017</td>
                                <td>2018</td>
                                <td>2018</td>
                                <td>2018</td>
                                <td>2</td>
                                <td>AU</td>
                                <td>Thai</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="block block--underline no-shadow">
            <div class="block__title">
                <header>
                    <h4>TOEFL Information</h4>
                </header>
            </div>
            <div class="block__body">
                <div class="table-responsive">
                    <table class="table table-bordered m-0">
                        <thead>
                            <tr>
                                <th>Seq.</th>
                                <th>TOEFL</th>
                                <th>TOEFL</th>
                                <th>Information</th>
                                <th>Submitted Date</th>
                                <th>Expired Date</th>
                                <th>Remark</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>200</td>
                                <td>200</td>
                                <td>A</td>
                                <td>1/1/2018</td>
                                <td>1/1/2018</td>
                                <td>A</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>