<section class="ks-visa-info">
    <div class="block no-shadow h-100x mn-h-50vh m-b-30">
        <div class="block__body">
            <div class="row form-group">
                <div class="col-4 align-self-center m-b-5">
                    <input class="form-control" type="text">
                    <label for="PassportNo">Passport No.</label>
                </div>
                <div class="col-4 align-self-center m-b-5">
                    <input class="form-control" type="text">
                    <label for="VisaExpiryDate">Visa Expiry Date</label>
                </div>
                <div class="col-4 align-self-center m-b-5">
                    <input class="form-control" type="text">
                    <label for="RemarkVisaAndEPayment">Remark Visa And Cannot E-Payment</label>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-12 align-self-center m-b-5">
                    <textarea class="form-control" rows="3"></textarea>
                    <label for="VisaRemark">Visa Remark</label>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-4 align-self-center m-b-5">
                    <select class="chosen-select form-control">
                        <option value="1">1</option>
                    </select>
                    <label for="VisaRemark">Problem Of Stay Permit Extension</label>
                </div>
            </div>
        </div>
    </div>
</section>