<div id="confirm-publish-modal" class="modal fadeIn animated" tabindex="-1" role="dialog"
  	 aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  	<div class="modal-dialog modal-dialog-centered" role="document">
    	<div class="modal-content">
      		<div class="block mb-0">
        		<div class="block__body">
          			<h3 class="color-info m-b-15">
                        <i class="fas fa-save m-r-5"></i>
            			Publish
          			</h3>
          			<p>Are you sure you want to publish this item?</p>
        		</div>
				
        		<div class="block__action">
          			<div class="block__action-row">
              			<a class="btn btn-mw-120 btn--primary js-confirm-btn" href="#!">Yes</a>
              			<a class="btn btn-mw-120 btn--cancel" href="javascript:void(0);" data-dismiss="modal">No</a>
          			</div>
        		</div>
      		</div>
    	</div>
  	</div>
</div>