<div id="admission-examination-modal" class="modal fadeIn animated" tabindex="-1" role="dialog"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="modalWrapper-admission-examination-modal">
                <partial name="_ModalContent">
            </div> 
        </div>
    </div>
</div>