@model Invoice
<div id="modalWrapper">
    <partial name="~/Views/Registration/Invoice/_InvoicePartModal.cshtml" model="Model"/>
    <div class="block__action">
        <div class="block__action-row">
            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-mw-120 btn--cancel rounded">Close</a>
        </div>
    </div>
</div>
