@model ScholarshipStudent

<div id="edit-scholarship-student-modal" class="modal fadeIn animated js-modal-form js-scholarship-modal" tabindex="-1" role="dialog"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="block block--underline mb-0">
				<div class="block__title">
					<header>Edit Scholarship Student</header>
				</div>
				<div class="block__body">
					<form id="modalWrapper-edit-scholarship-student" class="ks-form container py-0" asp-controller="ScholarshipProfile" asp-action="EditScholarshipStudent" method="POST">
						<!-- get _Form from ajax response -->
					</form>
				</div>
			</div>
		</div>
	</div>
</div>