@model List<VoucherLog>
@{
    var index = 1;
}

<div class="block block--underline mb-0">
    <div class="block__title">
		<header>Voucher Information</header>
	</div>

    <div class="block__body">
        <div class="form-group table-responsive mb-3">
            <table class="table table-bordered m-0">
                <thead>
                    <tr>
                        <th class="w-25">#</th>
                        <th>Fee Item</th>
                        <th class="text-right">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any()) 
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@index</td>
                                <td>@item.FeeItem?.NameEn</td>
                                <td>@item.AmountText</td>
                            </tr>
                            index++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="3">NO DATA</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="text-center"><b>Total</b></td>
                        <td class="text-center js-col-total"><b>@Model?.Sum(x => (decimal?)x.Amount)?.ToString(StringFormat.Money)</b></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="block__action">
        <div class="block__action-row">
            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-mw-120 btn--cancel rounded">Close</a>
        </div>
    </div>
</div>