@model List<VoucherLog>

<div id="voucher-details-modal" class="modal fadeIn animated js-modal-form" tabindex="-1" role="dialog"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="block block--underline mb-0">
				<div id="modalWrapper-voucher-details">
                    <partial name="_VoucherDetails" />
                </div> 
			</div>
		</div>
	</div>
</div>