@model RegistrationTerm

<div class="block__title text-left height-3">
    <header>@ViewData["Title"]</header>
</div>

<div class="block__body text-left height-3">
     <div class="row form-group">
        <div class="col-12">
            <input class="form-control" asp-for="NameNullAble" type="text">
            <label>Name<span class="text-danger">*</span></label>
        </div>
    </div>

     <div class="row form-group">
        <div class="col-6">
            <select class="chosen-select form-control js-cascade-academic-level" asp-for="AcademicLevelId" asp-items="ViewBag.AcademicLevels">
                <option selected disabled>Select</option>
            </select>
            <label>Academic Level<span class="text-danger">*</span></label>
        </div>
        <div class="col-6">
            <select class="chosen-select form-control js-cascade-term" asp-for="TermId" asp-items="ViewBag.Terms">
                <option selected disabled>Select</option>
            </select>
            <label>Term<span class="text-danger">*</span></label>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-6">
            <input class="form-control js-single-date" asp-for="StartedAt" type="text" autocomplete="off">
            <label>Started At</label>
            <span class="text-danger help-block" asp-validation-for="StartedAt"></span>
        </div>
        <div class="col-6">
            <input class="form-control js-single-date" asp-for="EndedAt" type="text" autocomplete="off">
            <label>Ended At</label>
            <span class="text-danger help-block" asp-validation-for="EndedAt"></span>
        </div>

    </div>
    <div class="row form-group">
        <div class="col-6">
            <input class="form-control js-single-date" asp-for="ExpiredAt" type="text" autocomplete="off">
            <label>ExpiredAt</label>
            <span class="text-danger help-block" asp-validation-for="ExpiredAt"></span>
        </div>
        <div class="col-6">
            <select class="chosen-select form-control" asp-for="Type" asp-items="ViewBag.Types">
                <option selected value="">Select</option>
            </select>
            <label>Type<span class="text-danger">*</span></label>
        </div>
    </div>
    <div class="row">        
        <div class="form-check">
            <input class="form-check-input" asp-for="IsActive" type="checkbox">
            <label for="IsActive">Active</label>
        </div>
    </div>
</div>

<input name="returnUrl" type="hidden" value="@ViewBag.ReturnUrl">

<div class="block__action container">
    <div class="block__action-row">
        <button type="submit" class="btn btn-mw-120 btn--primary">Save</button>
        <a class="btn btn-mw-120 btn--cancel" href="@ViewBag.ReturnUrl">Cancel</a>
    </div>
</div>