@model QuestionnaireCourseGroupViewModel
@{ 
    ViewData["Title"] = "Add Questionnaire Course Group"; 
}

<section class="row">
    <div class="col-lg-12">
        <div class="block block--underline">
            <form class="ks-form container" asp-controller="QuestionnaireCourseGroup" asp-action="Create" method="POST">
                @Html.AntiForgeryToken()
                <partial name="_Form"/>
            </form>
        </div>
    </div>
</section>