@model CertificationViewModel

<partial name="_FormDetailsHeader" model="@Model">

<div class="row form-group">
    <div class="col-4">
        <select class="chosen-select form-control js-cascade-academic-level" asp-for="AcademicLevelId" asp-items="ViewBag.AcademicLevels">
            <option selected disabled>Select</option>
        </select>
        <label>Academic Level</label>
    </div> 
    <div class="col-6">
        <input class="form-control" asp-for="DegreeName" type="text" autocomplete="off">
        <label>Degree Name</label>
    </div>
</div>

<div class="row form-group">
    <div class="col-6">
        <input class="form-control" asp-for="AcademicHonor" type="text" autocomplete="off">
        <label>Academic Honor</label>
    </div>
    <div class="col-6">
        <input class="form-control" asp-for="VerifyCode" type="number" min=0>
        <label>Verify Code</label>
    </div>
</div>

<input asp-for="Language" type="hidden">
<input asp-for="Year" type="hidden">
<input asp-for="ErrorMessage" type="hidden">
<input asp-for="Pronoun" type="hidden">