@model CurriculumVersionViewModel

<form asp-controller="CurriculumVersion" asp-action="CreateCorequisite" method="POST">
    <div class="block__body">
        <div class="form-group">
            <table id="js-corequisite-table" class="table table-bordered m-0">
                <thead>
                    <tr>
                        <th>Corequisite Course</th>
                        <th class="text-center w-75">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Corequisites != null && Model.Corequisites.Any())
                    {
                        @for (int i = 0; i < Model.Corequisites.Count(); i++)
                        {
                            <tr>
                                <td>
                                    <select class="chosen-select form-control" asp-for="Corequisites[i].CorequisiteId" asp-items="ViewBag.Corequisites" data-placeholder="Select">
                                        <option selected disabled>Select</option>
                                    </select>
                                </td>
                                <td class="text-nowrap td-actions">
                                    <a class="js-del-row" href="#" data-toggle="modal" data-target="#delete-row-confirm-modal">
                                        <i class="la la-trash delete"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>
                                <select class="chosen-select form-control" name="Corequisites[0].CorequisiteId" asp-items="ViewBag.Corequisites" data-placeholder="Select">
                                    <option selected disabled>Select</option>
                                </select>
                            </td>
                            <td class="text-nowrap td-actions">
                                <a class="js-del-row" href="#" data-toggle="modal" data-target="#delete-row-confirm-modal">
                                    <i class="la la-trash delete"></i>
                                </a>
                            </td>
                        </tr>
                    }

                    <input asp-for="CurriculumVersionId" hidden>
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-end pr-4">
            <button type="submit" class="btn btn-mw-120 btn--primary m-0"><i class="la la-save mr-1 font-weight-800"></i> Save</button>
        </div>
    </div>
</form>