@model IntensiveCourse
@{ 
    ViewData["Title"] = "Add Intensive Course"; 
}

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <form class="ks-form container" asp-controller="IntensiveCourse" asp-action="Create" method="post">
                @Html.AntiForgeryToken()
                <partial name="_Form">
            </form>
        </div>
    </div>
</div>