<div id="edit-warning-modal" class="modal fadeIn animated js-modal-form" tabindex="-1" role="dialog"
    aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="block mb-0">
                <div class="block__body table-responsive">
                    <h3 class="color-warning m-b-15">
                        <i class="la la-exclamation-triangle m-r-5"></i>
                        Warning
                    </h3>
                    <p>You are currently edit another table.</p>
                </div>
                    <!--end .block__body -->
                <div class="block__action">
                    <div class="block__action-row">
                        <a href="javascript:void(0);" class="btn btn-mw-120 btn--cancel rounded" data-dismiss="modal">Cancel</a>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>