@model ExtendedYear

<div class="block__title text-left height-3">
    <header>@ViewData["Title"]</header>
</div>

<div class="block__body text-left height-3">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        <select class="chosen-select form-control js-cascade-academic-level" asp-for="AcademicLevelId" asp-items="ViewBag.AcademicLevels">
            <option selected disabled>Select</option>
        </select>
        <label>Academic Level<span class="text-danger">*</span></label>
        <span class="text-danger help-block" asp-validation-for="AcademicLevelId"></span>
    </div>

    <div class="form-group">
        <input class="form-control js-default-zero js-click-highlight" asp-for="Year" type="number">
        <label>Year<span class="text-danger">*</span></label>
        <span class="text-danger help-block" asp-validation-for="Year"></span>
    </div>

    <div class="form-group">
        <input id="EffectivedAt" class="form-control js-single-date" asp-for="EffectivedAt" type="text" autocomplete="off">
        <label for="EffectivedAt">Effectived Date<span class="text-danger">*</span></label>
        <span class="text-danger help-block" asp-validation-for="EffectivedAt"></span>
    </div>

    <div class="form-group">
        <input id="ExpiredAt" class="form-control js-single-date" asp-for="ExpiredAt" type="text" autocomplete="off">
        <label for="ExpiredAt">Expired Date</label>
    </div>

    <div class="row">
        <div class="form-check">
            <input class="form-check-input" asp-for="IsActive" type="checkbox">
            <label for="IsActive">Active</label>
        </div>
    </div>
</div>

<div class="block__action container">
    <div class="block__action-row">
        <button class="btn btn-mw-120 btn--primary" type="submit">Save</button>
        <a class="btn btn-mw-120 btn--cancel" asp-action="Index">Cancel</a>
    </div>
</div>