@model Signatory
@{ 
    ViewData["Title"] = "Edit Signatory"; 
}

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <form class="ks-form container" asp-controller="Signatory" asp-action="Edit" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <partial name="_Form"/>
            </form>
        </div>
    </div>
</section>