@model RoomReservationViewModel

<div id="js-room-reservation-modal" class="modal fadeIn animated" tabindex="-1" role="dialog"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
		<div class="modal-content">
			<div id="js-room-reservation-content">
				<partial name="~/Views/RoomReservation/_Details.cshtml"/>
			</div>
		</div>
	</div>
</div>