<div id="refund-modal" class="modal fadeIn animated" tabindex="-1" role="dialog"
  	aria-hidden="true" data-backdrop="static" data-keyboard="false">
  	<div class="modal-dialog modal-lg" role="document">
    	<div class="modal-content">
			<div id="modalWrapper-refund">
				<div class="block block--underline mb-0">
					<div class="block__title">
						<header>Course's Refund</header>
					</div>

					<div class="block__body">
						<div class="form-group table-responsive h-50vh">
							<table class="table table-bordered mb-5">
								<thead>
									<tr>
										<th>Fee Item</th>
										<th class="text-right w-125">Amount</th>
										<th class="text-right w-100">Refund</th>
									</tr>
								</thead>
								<tbody class="js-get-refund"></tbody>
							</table>
						</div>
							
						<div class="block__action-row">
							<button id="js-confirm-refund" class="btn btn-mw-120 btn--primary" type="button">Save</button>
							<a id="js-reset-data" class="btn btn-mw-120 btn--cancel rounded" href="javascript:void(0);" data-dismiss="modal">Close</a>
						</div>
					</div>
				</div>
			</div>
    	</div>
  	</div>
</div>