<div id="return-seat-modal" class="modal fadeIn animated" tabindex="-1" role="dialog"
  	 aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  	<div class="modal-dialog modal-dialog-centered" role="document">
    	<div class="modal-content">
      		<div class="block mb-0">
        		<div class="block__body">
          			<h3 class="color-danger m-b-15">
            			<img class="align-top w-24 mr-1" src="~/images/seat-red.svg">
            			Confirm to Return Seat
          			</h3>
          			<p>All registered course will be delete?</p>
        		</div>
        		<!--end .block__body -->
        		<div class="block__action">
          			<div class="block__action-row">
              			<a id="js-return-seat" class="btn btn-mw-120 btn--danger">Yes</a>
              			<a class="btn btn-mw-120 btn--cancel" href="javascript:void(0);" data-dismiss="modal">No</a>
          			</div>
        		</div>
      		</div>
    	</div>
  	</div>
</div>