@model StudentAddress

<div class="row form-group">
    <div class="col-12">
        <select id="Type" asp-for="Type" class="chosen-select form-control">
            <option value="c">Current Address</option>
            <option value="p">Permanent Address</option>
        </select>
        <label for="Type">Address Type<span class="text-danger">*</span></label>
    </div>
</div>

<div class="row form-group">
    <div class="col-12">
        <input class="form-control text-uppercase" asp-for="AddressEn1" type="text">
        <label>English Address 1</label>
    </div>
</div>

<div class="row form-group">
    <div class="col-12">
        <input class="form-control text-uppercase" asp-for="AddressEn2" type="text">
        <label>English Address 2</label>
    </div>
</div>

<div class="row form-group">
    <div class="col-12">
        <input class="form-control" asp-for="AddressTh1" type="text">
        <label>Thai Address 1</label>
    </div>
</div>

<div class="row form-group">
    <div class="col-12">
        <input class="form-control" asp-for="AddressTh2" type="text">
        <label>Thai Address 2</label>
    </div>
</div>

<div class="row form-group">
    <div class="col-6">
        <input class="form-control text-uppercase" asp-for="HouseNumber" type="text">
        <label>House Number</label>
    </div>
    <div class="col-6">
        <input class="form-control text-uppercase" asp-for="Moo" type="text">
        <label>Moo</label>
    </div>
</div>

<div class="row form-group">
    <div class="col-6">
        <input class="form-control text-uppercase" asp-for="SoiEn" type="text">
        <label>English Soi</label>
    </div>
    <div class="col-6">
        <input class="form-control text-uppercase" asp-for="RoadEn" type="text">
        <label>English Road</label>
    </div>
</div>

<div class="row form-group">
    <div class="col-6">
        <input class="form-control" asp-for="SoiTh" type="text">
        <label>Thai Soi</label>
    </div>
    <div class="col-6">
        <input class="form-control" asp-for="RoadTh" type="text">
        <label>Thai Road</label>
    </div>
</div>

<div class="row form-group">
    <div class="col-6">
        <select class="chosen-select form-control js-address-cascade" asp-for="CountryId" asp-items="ViewBag.Countries" data-group="address" data-type="country">
            <option selected disabled>Select</option>
        </select>
        <label for="CountryId">Country<span class="text-danger">*</span></label>
    </div>
    <div class="col-6">
        <select class="chosen-select form-control js-address-cascade" asp-for="ProvinceId" asp-items="ViewBag.Provinces" data-group="address" data-type="province">
            <option selected value="">Select</option>
        </select>
        <label for="ProvinceId">Province</label>
    </div>
</div>

<div class="row form-group">
    <div class="col-6">
        <select class="chosen-select form-control js-address-cascade" asp-for="DistrictId" asp-items="ViewBag.Districts" data-group="address" data-type="district">
            <option selected value="">Select</option>
        </select>
        <label for="DistrictId">District</label>
    </div>
    <div class="col-6">
        <select class="chosen-select form-control js-address-cascade" asp-for="SubdistrictId" asp-items="ViewBag.Subdistricts"  data-group="address" data-type="subdistrict">
            <option selected value="">Select</option>
        </select>
        <label for="SubdistrictId">Sub-District</label>
    </div>
</div>

<div class="row form-group">
    <div class="col-6">
        <select class="chosen-select form-control js-address-cascade" asp-for="StateId" asp-items="ViewBag.States" data-group="address" data-type="state">
            <option selected value="">Select</option>
        </select>
        <label for="StateId">State</label>
    </div>
    <div class="col-6">
        <select class="chosen-select form-control js-address-cascade" asp-for="CityId" asp-items="ViewBag.Cities" data-group="address" data-type="city">
            <option selected value="">Select</option>
        </select>
        <label for="CityId">City</label>
    </div>
</div>

<div class="row form-group">
    <div class="col-6">
        <input class="form-control" asp-for="ZipCode" type="text">
        <label>Zip Code<span class="text-danger">*</span></label>
    </div>
    <div class="col-6">
        <input class="form-control" asp-for="TelephoneNumber" type="number">
        <label>Telephone Number</label>
    </div>
</div>

<input asp-for="Id" type="hidden">
<input asp-for="StudentId" type="hidden">
<input asp-for="CreatedAt" type="hidden">
<input asp-for="CreatedBy" type="hidden">

<div class="block__action pb-0">
    <div class="block__action-row">
        <button class="btn btn-mw-120 btn--primary" type="submit">Save</button>
        <a class="btn btn-mw-120 btn--cancel rounded" href="javascript:void(0);" data-dismiss="modal">Cancel</a>
    </div>
</div>