@model CurriculumInformation

<div id="edit-curriculum-information-modal" class="modal fadeIn animated js-edit-modal" tabindex="-1" role="dialog"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="block block--underline mb-0">
                <div class="block__title">
                    <header>Edit Curriculum Information</header>
                </div>
                <div class="block__body">
                    <form class="ks-form container py-0" asp-controller="CurriculumInformation" asp-action="Edit" method="POST">
                        @Html.AntiForgeryToken()
                        <div id="modalWrapper-curriculum-information-edit">
                            <partial name="_Form.cshtml">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>